/* Vouchers.css */
.promo-codes-list {
  width: 100%;
  max-width: 600px;
  margin-top: 30px;
}
.add-promo-btn {
  padding: 15px 20px;
  background-color: #4caf50;
  border: none;
  border-radius: 50px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.form-group {
  margin: 20px 0;
  width: fit-content;
  display: flex;
  flex-direction: column;
}
.form-group label {
  font-size: 14pt;
  font-weight: 600;
}

.form-group input {
  margin: 10px 0px;
  padding: 15px;
  border: none;
  border-radius: 20px;
  width: 250px;
}

.submit-btn {
  margin-top: 10px;
  padding: 15px 20px;
  background-color: #4caf50;
  border: none;
  border-radius: 50px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.promo-code-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 20px;
  border-radius: 50px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}
.delete-btn {
  padding: 5px 10px;
  margin-left: 10px;
  border: none;
  border-radius: 20px;
  background-color: red;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: green;
}

input:checked + .slider:before {
  transform: translateX(14px);
}
